h2 {
    color: blueviolet;
}

.lorem {
    background-color: orangered;
    /* -ms-flex-align: center; */
    height: 300px;
    font-size: 30px;
    font-weight: 200;
    padding: 30px;
    /* text-align: center; */
    /* vertical-align: middle; */
    /* line-height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}